#aboutUsImg1{
    background-image: url('~@/assets/images/others/pexels-yaroslav-shuraev-8845420.jpg');
    background-size: cover;
    background-position: center;
}

#aboutUsImg2{
    background-image: url('~@/assets/images/others/pexels-pixabay-327143.jpg');
    background-size: cover;
    background-position: center;
}

#aboutUsImg3{
    background-image: url('~@/assets/images/others/pexels-fauxels-3184183.jpg');
    background-size: cover;
    background-position: center;
}

.about-img-sm{
    height:450px;
}

.about-img-lg{
    height:250px
}

.about-text-lg {
    height:550px
}

.about-text-sm {
    height: 300px;
}
