#aboutUsImg1{
    background-image: url('~@/assets/images/others/pexels-yaroslav-shuraev-8845420.jpg');
    background-size: cover;
    background-position: center;
}

#aboutUsImg2{
    background-image: url('~@/assets/images/others/pexels-pixabay-327143.jpg');
    background-size: cover;
    background-position: center;
}

#aboutUsImg3{
    background-image: url('~@/assets/images/others/pexels-fauxels-3184183.jpg');
    background-size: cover;
    background-position: center;
}
