#orderModal {
    z-index:10000;
}

#empty-bag-Img{
    font-size: 8rem;
}

.count-btn {
    width:20px; 
    height:20px; 
    line-height: 20px;
}

@media (min-width: 768px) {
    #empty-bag-Img{
        font-size: 15rem;
    }
}

// 消除input number 箭頭
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }