.link-hover{
    color:black
}
.link-hover:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

// 
.img-expand img{
    transition: all, 1s;
}
.img-expand:hover img{
    transform: scale(1.3);
}