.width-sm {
   width: 250px;
}

.width-md {
    width: 500px;
}

.width-xs {
    width: 100px;
}

.max-w-xs {
    max-width:150px;
}

.max-w-md {
    max-width:500px;
}

.max-w-lg {
    max-width:800px;
}

.max-w-xl {
    max-width:1000px;
}

.height-sm {
    height: 250px;
}

.height-md {
    height: 500px;
}

.height-xs {
    height: 100px;
}

.mt-md {
   margin-top: 100px;
}

.mb-md {
    margin-bottom: 100px;
}

.icon-large {
    font-size:10rem;
    color: black;
}

.toast {
    top: 90px;
}

.suggestion-label {
    height:50px;
}

.long-btn {
    width: 150px;
}

.product-card {
    width: 280px;
}

.loading-page-container {
    width: 600px;
}

.z-index-low {
    z-index: 100;
}